@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');


body{
    margin:0 auto;
    
}
.nav-link{
    color: #FFF4E2;
}
.banner{
    width: 375px;
    
}
.subtittle{
    margin-top: 10mm;
    margin-left: 5mm;
    font-family: 'Quantico', sans-serif;

}
.contact-form{
    margin-left: 5mm;
    font-family: 'Quantico', sans-serif;
    padding: 10px;
    
}
.form-control{
   background-color: #F4F9FF;
   border-color: #42457A;
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    display: block ;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    margin-top: 20px;
    background: #f66860;
    padding: 0.15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-active{
    display: block;
}
.formulario__mensaje p {
    text-align: center;
    font-size: 14px;
}

.formulario__btn{
    margin-top: 10mm;
    margin-left: 30mm;
    margin-bottom: 10mm;
    width: 113px;
    height: 36px;
    border-radius: 13px;
    background-color: #42457A;
    border-color: #F4F9FF;
    color: white;
}
.formulario__mensaje-exito{
    font-size: 14px;
    color: green;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}

.form-select{
    background-color: #F4F9FF;
    border-color: #42457A;
    width: 340px;
    height: 44px;
}
.rgd{
    font-size: 10px;
}

/* estilos para la validación */
.form__group-correcto .form-control{
    border-color: green ;
}
.form__group-correcto .form-label{
    color: green;
}
.form__group-incorrecto .form-control{
    border-color: red;
}
.form__group-incorrecto .form-label{
    color: red;
}


/* Mediaqueries*/


@media screen and (min-width:768px){
    .form-check{
        margin-left: 20mm;
    }
    .send{
        margin-left: 80mm;

    }
    .banner{
        width: 768px;
       

    }
    .contact-form{
        margin-right: 10mm;
    }
    .form-select{
        background-color: #F4F9FF;
        border-color: #42457A;
        width: 690px;
        height: 44px;
        
    }
    .formulario__btn{
        margin-left: 80mm;
    }
    .form__checkbox{
        margin-top: 5mm;
        margin-left: 5mm;
    }
    .rgd{
        font-size: 12px;
    }
}
@media screen and (min-width:1300px){
    .contact-form{
        padding: 40px;
        
    }
    .banner{
        width: 100%;
    }
    .form-select{
        width: 1210px;
        height: 44px;
        
    }
    .formulario__btn{
        margin-left: 550px;
    }
    .rgd{
        font-size: 12px;
    }
}